/.classpath
/.project
/.settings
/.idea

.project
.settings
/logs
/dpp-service.iml
/LOG_FILE_IS_UNDEFINED.2019-03-27.0
/LOG_FILE_IS_UNDEFINED
/*.0
*.iml
*.ipr
*.iws
/dpp-core/src/test/
/dpp-api/src/test/
*.log
var/
logback-spring.xml

/var

**/.DS_Store
**/test
**/target